/* Общие стили для основного контейнера */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  padding: 20px;
  margin: 0;
}

/* Заголовок страницы */
h1 {
  color: #333;
  text-align: center;
}

/* Стиль для отзывов */
/* .restaurant-block .review {
  border-left: 4px solid #ea5d60;
  padding-left: 10px;
  margin-top: 10px;
} */
